@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url("https://images.unsplash.com/photo-1599837565318-67429bde7162?ixlib%3Drb-1.2.1%26auto%3Dformat%26fit%3Dcrop%26w%3D1534%26q%3D80");
    background-repeat: no-repeat;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Varela Round", sans-serif;
}

/* Nav bar */

nav {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
}

nav li {
  color: white;
  display: inline-block;
  padding: 0.3rem;
  margin: 0 1rem;
  font-size: 1.6rem;
}

nav li {
  color: white;
  display: inline-block;
  padding: 0.3rem;
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color:white;
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
  }
}

/* Nav bar animations */

.navbar-ul1 {
  
  animation: navbar-ul1 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;  
}

@keyframes navbar-ul1 {
  0% {
            filter: blur(12px);
    opacity: 0;
  }
  100% {
            filter: blur(0px);
    opacity: 1;
  }
}

.navbar-ul2 {
  animation: navbar-ul2 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; 
  animation-delay: 0.5s; 
}

@keyframes navbar-ul2 {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.navbar-ul3 {
  animation: navbar-ul3 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;  
  animation-delay: 1s; 
}

@keyframes navbar-ul3 {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* Nav bar underline animation */

.navbar-ul1, .navbar-ul2, .navbar-ul3 {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.navbar-ul1:before, .navbar-ul2:before, .navbar-ul3:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: chartreuse;
  height: 4px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.navbar-ul1:hover:before, .navbar-ul1:focus:before, .navbar-ul1:active:before {
  transform: translateY(0);
}
.navbar-ul2:hover:before, .navbar-ul2:focus:before, .navbar-ul2:active:before {
  transform: translateY(0);
}

.navbar-ul3:hover:before, .navbar-ul3:focus:before, .navbar-ul3:active:before {
  transform: translateY(0);
}

/* Welcome section */

.intro {
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 30rem;
}

.bg-img {
  width: 100%;
  height: auto;
}

.intro-text {
    margin-top: 3rem;
    color: white;
}

.hello {
    font-size: 2.5rem;
    padding: 0.5rem;
}

.name {
    font-size: 3.5rem;
    color: chartreuse;
    padding: 0.5rem;
}

.job-description {
    font-size: 2.5rem;
    padding: .5rem;
}

.social-icons img {
  padding: 1rem 0.5rem;
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* About Section */

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #686d76;
}


/* About Me */



/* Skills */

.skills {
   padding: 5rem;
}

.skills-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5rem auto;
}

.skills img {
  padding: 0 2rem;
}

/* Projects section */

.projects {
  padding-top: 10rem;
  background-color: #686d76;
}

.projects-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4rem;
  padding: 10rem;
}

.projects h2, .skills h2, .about-me h2 {
  display: table;
  margin: 0 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2.5rem;
  border-bottom: 5px solid chartreuse;
}

.project-FCC1, .project-FCC2, .project-FCC3, .project-FCC4 {
  color: white;
  background-color: #1f6f8b;
}

.projects-img {
  z-index: 0;
  width: 100%;
  height: auto;
}

.project-FCC1 > a, .project-FCC2 > a, .project-FCC3 > a, .project-FCC4 > a {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.projects a:visited, .projects a:active, .projects a:link {
  text-decoration: none;
}

.project-FCC1:hover, .project-FCC2:hover, .project-FCC3:hover, .project-FCC4:hover {
  transform: scale(1.05);
}

.projects p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}









