@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    overflow-x:hidden;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 65%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
}

body {
    background-image: url("https://images.unsplash.com/photo-1599837565318-67429bde7162?ixlib%3Drb-1.2.1%26auto%3Dformat%26fit%3Dcrop%26w%3D1534%26q%3D80");
    background-repeat: no-repeat;
    width: 100%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    font-family: "Varela Round", sans-serif;
}

/* Nav bar */

.navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: #1f6f8b;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

nav {
  text-align: center;
}

nav li {
  color: white;
  display: inline-block;
  padding: 0.3rem;
  margin: 0 1rem;
  font-size: 1.6rem;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color:white;
}



/* Nav bar animations */

.navbar-ul1 {
  
  animation: navbar-ul1 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;  
}

@keyframes navbar-ul1 {
  0% {
            filter: blur(12px);
    opacity: 0;
  }
  100% {
            filter: blur(0px);
    opacity: 1;
  }
}

.navbar-ul2 {
  animation: navbar-ul2 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; 
  animation-delay: 0.5s; 
}

@keyframes navbar-ul2 {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.navbar-ul3 {
  animation: navbar-ul3 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;  
  animation-delay: 1s; 
}

@keyframes navbar-ul3 {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.navbar-ul4 {
  animation: navbar-ul4 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;  
  animation-delay: 1.5s; 
}

@keyframes navbar-ul4 {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

/* Nav bar underline animation */

.navbar-ul1, .navbar-ul2, .navbar-ul3, .navbar-ul4 {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.navbar-ul1:before, .navbar-ul2:before, .navbar-ul3:before, .navbar-ul4:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  height: 4px;
  transform: translateY(4px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.navbar-ul1:hover:before, .navbar-ul1:focus:before, .navbar-ul1:active:before {
  transform: translateY(0);
}
.navbar-ul2:hover:before, .navbar-ul2:focus:before, .navbar-ul2:active:before {
  transform: translateY(0);
}

.navbar-ul3:hover:before, .navbar-ul3:focus:before, .navbar-ul3:active:before {
  transform: translateY(0);
}

.navbar-ul4:hover:before, .navbar-ul4:focus:before, .navbar-ul4:active:before {
  transform: translateY(0);
}

/* Welcome section */

.intro {
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 30rem;
}

.bg-img {
  width: 100%;
  height: auto;
}

.intro-text {
    margin-top: 3rem;
    color: white;
}

.hello {
    font-size: 2.5rem;
    padding: 0.5rem;
}

.name {
    font-size: 3.5rem;
    color: chartreuse;
    padding: 0.5rem;
}

.job-description {
    font-size: 2.5rem;
    padding: .5rem;
}

.social-icons img {
  padding: 1rem 0.5rem;
}

@media screen and (max-width: 500px) {
  .social-icons img {
    width: 10%;
    height: auto;
  }
}

.social-icons img:hover {
  transform: scale(1.2);
}

/* About Section */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #686d76;
  color: white;
}

@media screen and (max-width:1024px) {
  .about {
    display: flex;
    flex-direction: column;
    
  }
}

.about-me, .skills {
  justify-content: center;
  text-align: center;
  width: 30rem;
  margin: 10rem auto 0 auto;
  padding: 2rem;
  border:1px solid white;
  border-radius: 1.5rem;
}

.about-me h2 {
  display: inline;
  font-size: 2.5rem;
  border-bottom: 1px solid white;
}

.about-me p {
  font-size: 1.3rem;
  padding: 3rem 0 0 0;
  text-align: left;
}


/* Skills */

.skills-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem auto 1rem auto;
}

.skills img {
  padding: 0 2rem;
}

.skills h2 {
  display: inline;
  font-size: 2.5rem;
  border-bottom: 1px solid white;
}

/* Projects section */

.projects {
  background-color: #686d76;
  padding-top: 10rem;
}

.projects-grid {
  display: grid;
  width: 60%;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 4rem;
  padding: 5rem;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .projects-grid {
    width: 80%;
    padding: 3rem;
  } 
}

@media screen and (max-width: 1005px) {
  .projects-grid {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width: 80%;
    padding: 3rem;
  } 
}

.projects-header {
  color: white;
  display: table;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 1px solid white;
}

.project-tile {
  color: white;
  background-color: #1f6f8b;
}

.projects-img {
  z-index: 0;
  width: 100%;
  height: auto;
}

.project-tile > a {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
}

.projects a:visited, .projects a:active, .projects a:link {
  text-decoration: none;
}

.project-tile:hover {
  transform: scale(1.05);
}

.projects p {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
}

/* Contact section */

.contact {
  display: flex;
  flex-direction: column;
  margin: 15rem auto;
  padding-bottom: 1.5rem;
  width: 30rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.contact-header {
  color: white;
  margin: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

input, textarea, button {
  margin: 1rem 50%;
  transform: translateX(-50%);
  width: 20rem;
}

.input-field {
  color: white;
  background-color: #686d76;
  font-family: "Varela Round", sans-serif;
  height: 1.5rem;
  border: none;
  border-bottom: 1px solid white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input-field:focus {
  outline: none;
  border-bottom: 1px solid chartreuse;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #686d76 inset;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.6em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Varela Round", sans-serif;
  font-weight: 700;
}

.btn:hover {
  color: black;
  background-color: white;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px red inset;
  }
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #020202;
  font-size: 0.5rem;
  height: 5rem;
}

.footer p {
  font-size: 1rem;
}





